<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DMDownloadTaskManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92795AD61D2D189900440599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92795AED1D2D189900440599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92795AF81D2D189900440599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
